@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
section{
    padding: 80px 0px;
}
.topbar-menu{
    background: #f5f5f5;
}
.container{
    width: 1140px;
    padding: 0 15px;
    margin: auto;
}
.topbarw{
    overflow: hidden;
}
.phone{
    width: 200px;
    float: left;
    padding: 0px 10px;
    border-right: 1px solid#ddd;
    border-left: 1px solid#ddd;
}
.email{
    width: 750px;
    float: left;
    padding: 0px 10px;
}
.email i{
    color: greenyellow;
}
.social{
    width: 140px;
    float: left;
    transition: 0.3s;
}
.social a{
    display: block;
    float: left;
    padding: 15px;
    border-right: 1px solid #ddd;
    color: #2b2b2b;
}
.social i:hover{
    color: greenyellow;
}
.social a:first-child{
    border-left: 1px solid#ddd;
}
.phone i{
    color: greenyellow;
    padding: 15px 0;

}
.email i{
    color: #;
    padding: 15px 0;
}
.primary-menu{
    position: sticky;
    top: 0;
}
.primaryw{
    display: table;
    width: 100%;
}
.logo{
    width: 150px;
    float: left;
    margin-top: 22px;
}
.menu{
    width: 990px;
    float: left;
}
ul.mainmenuitem{
    list-style: none;
    float: right;

}
ul.mainmenuitem li{
    float: left;
    position: relative; 
}
ul.mainmenuitem li a{
    text-decoration: none;
    font-family: oswald;
    text-transform: uppercase;
    font-size: 15px;
    display: block;
    padding: 30px 30px;
    padding-top: 47px;
    color: #0e0e0e;
    font-weight: 600;
    transition: 0.5s;
}
ul.mainmenuitem li a:hover{
    color: greenyellow;
}
.fa-caret-down{
    font-size: 20px;
    padding-left: 10px;
}
ul.mainmenuitem li:hover ul.submenu{
    visibility: visible;
    transform: scaleY(1);
}
ul.submenu li:hover a:before{
    width: 20px;
}
ul.submenu{
    list-style: none;
    width: 270px;
    position: absolute;
    top: unset;
    background: white;
    border-top: 1px solid #ddd;
    padding: 25px;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: .3s;
}
ul.submenu li{
    float: none;
    position: relative;
}
ul.submenu li a{
    display: block;
    padding: 7px;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    font-family: sans-serif;
    color: #333;
    position: relative;
    transition: .6s;
}
ul.submenu li a:before{
    content: "";
    display: inline-block;
    background: greenyellow;
    width: 0px;
    height: 2px;
    vertical-align: middle;
    margin-right: 10px;
    transition: .6s;
}
.submenu2{
    list-style: none;
    width: 270px;
    position: absolute;
    top: unset;
    left: 295px;
    background: white;
    border-left: 1px solid #ddd;
    padding: 25px;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    transition: .3s;
}
ul.submenu li:hover ul.submenu2{
    visibility: visible;
    transform: scaleX(1);
}
ul.submenu2 li a:before{
    content: "";
    display: inline-block;
    background: greenyellow;
    width: 0px !important;
    height: 2px;
    vertical-align: middle;
    margin-right: 10px;
    transition: .6s;
}
ul.submenu2 li:hover a:before{
    width: 20px !important;
}

#homeslider{
    background: url(images/slide.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100%;
    padding: 0px;
}
.slider-content{
    color: white;
    width: 600px;
}
.slider-content h1{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 120px;
    float: left;
}
.slider-content p{
    font-weight: 600;
    line-height: 25px;
    width: 490px;
    margin-bottom: 30px;
}
#slider-btn{
    background-color: #ff5200;
    color: whitesmoke;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    margin-bottom: 80px;
}
.slidernav{
    width: 60px;
    margin: auto;
    padding: 30px 0;
}
.slidernav span{
    height: 10px;
    width: 10px;
    background: transparent;
    border: 4px solid greenyellow;
    display: block;
    border-radius: 100%;
    cursor: pointer;
    float: left;
    margin: 0 5px;
}
.slidernav span:last-child{
    background: greenyellow;
}
#services{
    background: #f5f6f6;
}
.sboxwrapper{
    overflow: hidden;
}
.singlebox{
    width: 225px;
    background: white;
    padding: 15px;
    float: left;
    margin-right: 30px;
    transition: 0.3s;
}
.singlebox:hover{
    background-color: yellowgreen;
    color: white;
    cursor: pointer;
}
.singlebox:hover i{
    color: white ; 
}
.singlebox:hover h2{
    color: white ; 
}
.singlebox:hover .sboxlink a{
    color: white !important;
}
.sboxtitle{
    text-align: center;
    width: 150px;
    margin: auto;
}
.sboxicon{
    text-align: center;
    font-size: 40px;
    color: yellowgreen;
    margin: 25px 0px;
}
.sboxtitle h2{
    font-size: 20px;
    letter-spacing: 1.1px;
    color: #333;
    line-height: 28px;
    text-transform: uppercase;
    margin: 20px 0px;
}
.sboxdesc{
    text-align: center;
    margin: 25px 0px;
    line-height: 30px;
}
.sboxlink{
    text-align: center;
    margin: 25px 0px;
}
.sboxlink a{
    text-decoration: none;
    color: yellowgreen;
    font-weight: 500;

}
.sboxactive{
    background: yellowgreen;
    color: white;
}
.sboxactive i{
    color: white;
}
.sboxactive h2{
    color: white;
}
.sboxactive a{
    color: white;
}
.sboxactive .fa-long-arrow-right{
    color: white;
}
.teamcontents{
    overflow: hidden;
}
.teamimg{
    width: 535px;
    float: left;
}
.teamimg img{
    width: 100%;
}
.teamdetails{
    width: 535px;
    float: right;
}
.titledesc h2{
    font-size: 40px;
    margin-bottom: 15px;
}
.titledesc p{
    color: #666;
    line-height: 25px;
    margin-bottom: 15px;
}
.teamfacilits{
    overflow: hidden;
    margin-bottom: 25px;
}
.teamfacilits ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 260px;
    float: left;
}
.teamfacilits ul li{
    line-height: 40px;
    transition: 0.3s;
}
.teamfacilits ul li a{
    color: #333;
    text-decoration: none;
    font-weight: 500;
}
.teamfacilits ul li a i{
    font-size: 12px;
    color: #333;
    margin-right: 15px;
}
.teamfacilits ul li:hover a{
    color: greenyellow;
}
.teamfacilits ul li:hover i{
    color: greenyellow;
}
.teamcontactbtn a{
    background: greenyellow;
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    display: block;
    width: 130px;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
}
.teamcontactbtn a:hover{
    background: #333;
    color: white;
}
#whychhoosus{
    background: linear-gradient(#00000073,#00000073),url(images/78.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.iconwrapper{
    overflow: hidden;
}
.singleicons{
    width: 210px;
    text-align: center;
    color: white;
    float: left;
    margin-right: 100px;
}
.sicon{
    font-size: 40px;
}
.singleicons h2{
    font-size: 55px;
    font-weight: 900;
    margin: 10px 0px;
    font-family: arial black;
}
.singleicons h4{
    font-size: 22px;
}
.singleicons:last-child{
    margin-right: 0px;
}
#blogposts{
    background: #f5f6f6;
}
.sectitle{
    text-align: center;
    margin-bottom: 60px;
}
.sectitle h2{
    font-size: 45px;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.sectitle h2::after{
    content: "";
    position: absolute;
    bottom: 0px;
    background: greenyellow;
    width: 70px;
    border-bottom: 5px solid greenyellow;
    left: 50%;
    margin-left: -40px;
}
.sectitle p{
    width: 550px;
    margin: auto;
    line-height: 25px;
    font-size: 17px;
    color: #666;
}
.postwrapper{
    overflow: hidden;
}
.singlepost{
    overflow: hidden;
    width: 258px;
    float: left;
    margin-right: 35px;
}
.singlepost img{
    width: 100%;
}
.postimg{
    margin-bottom: 20px;
}
.postinfo p{
    margin-top: 10px;
    color: #666;
    line-height: 23px;
}
.singlepost:last-child{
    margin-right: 0px;
}
.tablelist{
    display: table;
    background: #fafafa;
}
.singletable{
    width: 295px;
    overflow: hidden;
    float: left;
    border: 1px solid rgb(240, 231, 231);
    padding: 15px 30px;
    margin-right: 30px;
}
.singletable h3{
    font-size: 30px;
}
.singletable h1{
    font-size: 45px;
    font-weight: 900;
    font-family: arial black;
    margin: 8px 0px;
}
.singletable h1 span{
    font-size: 25px;
    margin-left: 10px;
    font-weight: 700;
    font-family: arial;
}
.singletable ul{
    list-style: none;
}
.singletable ul li{
    line-height: 40px;
    color: #777;
}
.singletable ul li i{
    font-size: 14px;
    color: greenyellow;
}
button#tablegetbtn{
    background: greenyellow;
    color: white;
    border: none;
    padding: 15px 30px;
    letter-spacing: 1px;
    font-weight: 800;
    font-family: oswald;
    font-size: 15px;
    margin: 20px 0px;
    border-radius: 3px;
    transition: 0.3s;
}
button#tablegetbtn:hover{
    background: #ddd;
    color: white;
    cursor: pointer;
}
.singletable:last-child{
    margin-right: 0px;
    box-shadow: 20px 0px rgb(252, 250, 250);
}
.singletable:first-child{
    box-shadow: -20px 0px rgb(252, 250, 250);
}
#ideas{
    overflow: hidden;
    padding: 0px;
    position: relative;
}
.idealeftimg{
    background: url(images/s02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.rightcontent{
    width: 50%;
    float: right;
    overflow: hidden;
    background: #222222;
    color: white;
}
.rcontenttitle{
    padding: 70px;

}
.rcontenttitle h1{
    font-size: 35px;
    margin-bottom: 15px;
}
.rcontenticon{
    padding: 0px 70px;
    overflow: hidden;
    padding-bottom: 70px;
}
.riconsingle{
    width: 400px;
    float: left;
    overflow: hidden;
    margin-bottom: 45px;
}
.ricon{
    width: 70px;
    overflow: hidden;
    float: left;
    font-size: 50px;
    color: greenyellow;
}
.ricontitle{
    width: 300px;
    overflow: hidden;
    float: right;
    
}
.ricontitle h2{
    font-size: 20px;
    margin-bottom: 10px;
    transition: 0.3s;
}
.ricontitle h2:hover{
    color: greenyellow;
    cursor: pointer;
}

.teampersons{
    overflow: hidden;
}
.singleperson{
    overflow: hidden;
    width: 260px;
    float: left;
    margin-right: 30px;
}
.singleperson:last-child{
    margin-right: 0px;
}
.singleperson img{
    width: 100%;
    transition: 0.3s;
}
.personinfo{
    padding: 22px 15px;
    text-align: center;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.personinfo h3{
    font-size: 18px;
}
.personinfo p{
    font-size: 14px;
    padding-top: 8px;
    color: #777;
}
.jointeambtn{
    margin-top: 70px;
    display: grid;
    place-items: center;
}
.jointeambtn button{
    background: #333;
    color: white;
    border: none;
    padding: 15px 20px;
    font-family: oswald;
    letter-spacing: 1;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.jointeambtn button:hover{
    color: white;
    background: greenyellow;
}
.personimg{
    overflow: hidden;
    position: relative;
}
.socialicon{
    width: 170px;
    position: absolute;
    bottom: 50px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.socialicon a{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    overflow: hidden;
    background: red;
    display: grid;
    place-items: center;
    text-decoration: none;
    border-radius: 100%;
    padding: 5px;
    color: white;
    margin: 5px;
    transition: 0.3s;
}
.socialicon a:first-child{
    background: #3b5998;
    opacity: 0;
    transition: 0.90s;
}
.socialicon a:nth-child(2){
    background: #00acee;
    opacity: 0;
    transition: 0.70s;
}
.socialicon a:nth-child(3){
    background: #db4a39;
    opacity: 0;
    transition: 0.50s;
}
.socialicon a:last-child{
    background: #0e76a8;
    opacity: 0;
    transition: 0.30s;
}
.socialicon a:hover{
    background: white;
    color: #333;
}
.singleperson:hover .socialicon a:first-child{
    opacity: 1;
    transform: translateY(20px);
}.singleperson:hover .socialicon a:nth-child(2){
    opacity: 1;
    transform: translateY(20px);
}.singleperson:hover .socialicon a:nth-child(3){
    opacity: 1;
    transform: translateY(20px);
}.singleperson:hover .socialicon a:last-child{
    opacity: 1;
    transform: translateY(20px);
}
.singleperson:hover .personimg img{
    transform: scale(1.1);
}
.singleperson{
    cursor: pointer;
}
#projects{
    background: #f5f6f6;
}

.projectswrapper{
    overflow: hidden;
    column-count: 3;
}
.singleproject{
    width: 350px;
    float: left;
    margin-right: 30px;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.singleproject:last-child{
    margin-right: none;
}
.singleproject img{
    width: 100%;
}
.projectinfo{
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    padding: 40px 30px;
    background:  linear-gradient(to top, black, transparent 160px);
    color: white;
    padding-bottom: 0px;
    transition: 0.3s;
}
.projectmate{
    width: 280px;
    margin-bottom: 15px;
}
.projectmate a{
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}
#learnmorebtn{
    display: block;
    color: white;
    font-weight: 500;
    font-size: 16px;
    visibility: hidden;
    transform: translateX(-155px);
    text-decoration: none;
}
#learnmorebtn i {
    font-size: 13px;
    margin-left: 10px;
}
.singleproject:hover .projectinfo{
    padding: 40px 30px;
    background:  linear-gradient(to top, black, transparent 200px);
}
.singleproject:hover #learnmorebtn{
    visibility: visible;
    transform: translateX(0px);
    transition: 0.3s;
    transition-delay: 0.3s;
    transition-timing-function: ease-in;
}
.newswrapper{
    overflow: hidden;
}
.singlenews{
    width: 350px;
    margin-right: 30px;
    float: left;
    overflow: hidden;
    margin-bottom: 30px;
}
.singlenews:last-child{
    margin-right: 0px;
}
.newsimg{
    overflow: hidden;
}
.newsimg img{
    width: 100%;
    transition: 0.3s;
}
.singlenews:hover img{
    transform: scale(1.1);
}
.newsmeta{
    padding: 30px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.newscetagory{
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.newscetagory::after{
    content: "";
    background: greenyellow;
    width: 20px;
    border-bottom: 2px solid greenyellow;
    position: absolute;
    left: 95px;
    top: 10px;
}
.newscetagory a{
    text-decoration: none;
    font-weight: 4 00;
    color: #ddd;
    display: block;
    width: 120px;
    float: left;
    font-size: 14px;
}
.newscetagory a:last-child{
    margin-left: 15px;
    color: #777;
}
.newscetagory a:last-child:hover{
    color: greenyellow;
}
.newstitle h2 a{
    color: black;
    text-decoration: none;
}
.newstitle h2{
    margin-bottom: 12px;
}
.newstitle h2:hover a{
    color: greenyellow;
}
.newstitle p{
    color: #777;
    margin-bottom: 15px;
}
#newsreadmorebtn{
    color: greenyellow;
    font-weight: 500;
    text-decoration: none;
}
#newsreadmorebtn i{
    font-size: 12px;
}
#footer{
    background: #1a1a1a;
    padding-top: 200px;
}
.fboxwrapper{
    overflow: hidden;
    margin-bottom: 60px;
}
.fbox{
    overflow: hidden;
    width: 250px;
    float: left;
    margin-right: 30px;
    color: #999;
}
.fbox:last-child{
    margin-right: 0px;
}
.fbox h3{
    color: white;
    margin-bottom: 18px;
}
.fbox p{
    line-height: 23px;
    font-size: 16px;
    margin-bottom: 20px;
}
.ficon i{
    color: #ddd;
    padding-right: 20px;
    transition: .3s;
}
.ficon i:hover{
    color: greenyellow;
}
#contacts{
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
}
#contacts i{
    color: greenyellow;
    margin-right: 10px;
}
#ullink{
    list-style: none;
}
#ullink li{
    line-height: 25px;
}
#ullink li a{
    color: #999;
    text-decoration: none;
    display: block;
    padding: 7px 0px;
    border-bottom: 1px dashed #353535;
    transition: .3s;
}
#ullink li:hover a{
    color: greenyellow;
}
#ullink li a i{
    font-size: 14px;
    padding-right: 7px;
}
#ullink li:last-child a{
    border-bottom: 0px;
}
.frpost{
    overflow: hidden;
    margin-bottom: 30px;
}
.frpostmeta{
    width: 40px;
    padding: 12px 10px;
    background: #313131;
    color: white;
    border-radius: 3px;
    float: left;
    text-align: center;
}
.frpostmeta span:first-child{
    font-weight: 800;
    font-size: 22px;
}
.frpostmeta span:last-child{
    font-size: 9px;
    font-weight: 700px;
    margin-top: 6px;
    display: block;
    line-height: 10px;
}
.frposttitle{
    width: 170px;
    float: right;
}
.frposttitle h3{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #999;
    transition: .3s;
}
.frposttitle h3:hover{
    color: greenyellow;
}
.frposttitle a{
    color: #666;
    text-decoration: none;
    font-size: 12px;
    margin-right: 9px;
}
.frposttitle a i{
    margin-right: 7px;
}

#subscribe{
    position: relative;
    margin-bottom: -162px;
}
.subsboxswrapper{
    overflow: hidden;
    background: greenyellow;
    border-radius: 3px;
    padding-bottom: 20px;
}
.subboxsingle{
    width: 320px;
    float: left;
    padding: 30px;
    overflow: hidden;
}
.subboxsingle:last-child{
    padding-right: none;
}
.subboxsingle h2{
    color: white;
    margin-bottom: 20px;
}
.inputboxes{
    position: relative;
}
.inputboxes input:first-child{
    width: 80%;
    padding: 15px;
    border: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    font-family: oswald;
    letter-spacing: 1;
}
#subssubmit{
    padding: 16px;
    border: none;
    background: black;
    color: white;
    font-weight: 800;
    letter-spacing: 1;
    font-size: 14px;
    width: 120px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    right: 0;
}
.subboxsingle{
    color: white;
}
.subsfollowicon{
    overflow: hidden;
}
.subsfollowicon a{
    width: 35px;
    height: 35px;
    float: left;
    border: 1px solid white;
    display: grid;
    place-items: center;
    border-radius: 100%;
    margin-right: 15px;
    color: white;
    text-decoration: none;
    transition: .3s;
}
.subsfollowicon a:hover{
    background: white;
    color: black;
}

.copyrightcontainer{
    overflow: hidden;
    color: #999;
    border-top: 1px solid #333;
}
.copyrightcontainer .container{
    overflow: hidden;
}
.copyrighttext{
    width: 540px;
    float: left;
    padding: 25px 0px;
}
.copyrightmenu{
    width: 570px;
    float: right;
}
.copyrightmenu ul{
    list-style: none;
    float: right;
    overflow: hidden;
}
.copyrightmenu ul li{
    float: left;
}
.copyrightmenu ul li a{
    color: #999;
    display: block;
    padding: 25px 15px;
    text-decoration: none;

}




